:root {
    --background-color-var: #F1CDC6;
    background-color: var(--background-color-var);
}

h1 {
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 64px;
    border: var(--background-color-var), 10, 10;
}

h3 {
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    margin-bottom: 0px;
}

.homenavmenu {
    position: relative;
    left: 250px;
    bottom: 350px;
    text-align: center;
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.secondnavmenu {
    /*This one won't tkae position: relative; for some reason*/
    left: 250px;
    bottom: 350px;
    text-align: center;
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.homepagetext {
    float: left;
    font-family: 'Titillium Web', sans-serif;
}

img {
    float: right;
}

.skigif {
    padding-right: 30px;
    padding-bottom: 30px;
}

.ancientskier{
    padding-right: 30px;
}

.ancientchart {
    padding-right: 30px;
    padding-bottom: 30px;
    width: 50%;
    height: 50%;
}

/*10+ properties used*/